<a href="https://colab.research.google.com/github/mirchandani-mohnish/price_predictor/blob/dev_omi_video/src/index.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
#Defining Libraries used

from google.colab import files 
uploaded = files.upload()
#Uploading raw data sets

from google.colab import files 
uploaded = files.upload()


#Read the data
train = pd.read_csv("Train_dataset.csv")
test = pd.read_csv("test_dataset.csv")

Saving Train_dataset.csv to Train_dataset (3).csv

Saving test_dataset.csv to test_dataset (1).csv

In [14]:
#train.head()


train = train.drop(["Unnamed: 0", "Id"], axis = 1)
test = test.drop(["Unnamed: 0", "Id"], axis = 1)


train_data = train.values
Y = train_data[:, -1].reshape(train_data.shape[0],1)
X = train_data[:, :-1]

test_data = test.values
Y_test = test_data[:, -1].reshape(test_data.shape[0],1)
X_test = test_data[:, :-1]

train.head()

   MSSubClass  MSZoning  LotArea  ...  SaleType  SaleCondition  SalePrice
0          60         3     8450  ...         8              4  12.247694
1          20         3     9600  ...         8              4  12.109011
2          60         3    11250  ...         8              4  12.317167
3          70         3     9550  ...         8              0  11.849398
4          60         3    14260  ...         8              4  12.429216

[5 rows x 70 columns]

In [15]:
X = np.vstack((np.ones((X.shape[0])), X.T)).T

In [17]:
def model(X,Y, learning_rate, iterations):
  m = Y.size
  theta = np.zeros((X.shape[1],1))

  for i in range(iterations):
    y_pred = np.dot(X,theta)
    cost = ((1)/(2*m))*np.sum(np.square(y_pred - Y))

    d_theta = (1/m)*np.dot(X.T, y_pred - Y)
    theta = theta - learning_rate*d_theta
  
  return theta

In [20]:
iterations = 1000
learning_rate = 0.00000000005
# the learning rate must be very small otherwise we recieve an out of bounds error


theta = model(X,Y,learning_rate = learning_rate, iterations = iterations)

In [21]:
y_pred = np.dot(X_test, theta)
error = (1/m)*np.sum(np.abs(y_pred - Y_test))

ValueError: ignored